flask
requests
python-dotenv
pandas
matplotlib
PyMuPDF
python-pptx
reportlab
beautifulsoup4
slack_sdk
apscheduler
feedparser
PyPDF2
tldextract
google-generativeai
textblob
googlesearch-python
graphviz
crawl4ai
pdfplumber
